profiles
{   
    standard {
        process.executor = "local"
        process.cpus = 1
        process.memory = '8 GB'
        process.time = "24 h"
    }

    hmgu {
        singularity.runOptions = "--writable-tmpfs -B /project/genomics"
        process.executor       = "slurm"
        process.cpus           = 1
        process.memory         = "8 GB"
        process.queue          = "cpu_p"
        process.clusterOptions = "-q cpu_normal"
        process.time           = "24 h"
    }
    lrz {
        charliecloud.runOptions = "-b /dss -b /gpfs --no-passwd"
        queueSize=1
        process.executor       = "slurm"
        process.cpus           = 1
        process.memory         = "8 GB"
        process.queue          = 'serial_std'
        process.clusterOptions = '--clusters=serial'
        process.time           = "24 h"
    }
}

trace
{   
    enabled = true
    fields = 'task_id,hash,tag,process,status,exit,submit,realtime,%cpu,%mem,peak_rss,peak_vmem'
}

timeline
{
    enabled = true
}


process {
    cache = "lenient"

    withName: CAMISIM {
        container = 'jinlongru/camisim:v1.3.7'
        cpus = 1
        memory = "10 GB"
    }
}


params 
{    
    dir_singularity = "/project/genomics/jru/singularity"
    camisimcfg = ""
    outdir = "output"
    report = "report"
    mode = "all"
}
